body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Centers vertically */
  height: 100vh; /* Makes sure the body takes up the full viewport height */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Ensures content inside is also centered */
  background-color: #1b244a;
  height: 375px;
  width: 575px;
  text-align: center;
  border: solid 2px #f94f6d;
  border-radius: 5px;
}

.container h3 {
  color: #eeeeee;
  opacity: 100%;
  font-family: verdana;
  font-weight: bold;
  font-size: 40px;
}

.sub-container {
  align-content: center;
  width: 155px;
  height: 120px;
  background-color: #080001;
}

#home-score,
#guest-score {
  color: #f94f6d;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 90px;
}

.btn {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: #1b244a;
  color: #9aabd8;
  border: solid 1px #9aabd8;
  font-family: "Cursed Timer ULiL", sans-serif;
}
